.main-xl-cart{
    margin-top: 3rem;
}

.carousel-control-prev, .carousel-control-next{
    height: 65%;
}
.btn-cart{
    border-radius: 0;
    height: 2em;
}
.container-cart{
    top: 5em;
    position: sticky;
    z-index: 5;
}
.container-cart button{
    height: 2.4em;
}
.carousel-control-prev,
.carousel-control-next {
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    align-items: center;
    height: auto; 
}
